@import '../../assets/css/style.scss';
.header{
    width: 100%;
    min-height: 100px;
    background-color: $lightGrey;
    display: flex;
    justify-content: space-between;
    border-bottom: 3px $mainColor solid;
    position: fixed;
    z-index: 1;
    //top: 0;
}
.header-container{
    position: relative;
    min-height: 100px;
}
.header-logo img{
    height: 100px;
    margin-left: 200px;
}
.header-nav ul{
    display: flex;
    list-style-type: none;
}
.header-nav a{
    text-decoration: none;
    color: $mainColor;
    font-weight: 500;
    margin-left: 40px;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 50% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
}
.header-nav a:hover{
    background-size: 100% 2px;
}
.header-nav{
    margin-right: 200px;
    margin-top: 35px;
}
