@import '../../assets/css/style.scss';
*{
    margin: 0;
    box-sizing: border-box;
}
.card{
    height: 300px;
    width: 250px;
    background-color: rgba(226,226,226, 0.5);
    border: 1px solid $mainColor;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.2);
    margin: 40px 30px 0 30px;
}
.card-container{
    margin-top: 50px;
}
.card-container p{
    font-size: 20px;
    font-weight: 500;
}
.cardTitle{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 20px;
    margin-top: 30%;
}
.cardTranscription{
    margin-bottom: 20px;
}
.card button{
    border: 1px $mainColor solid;
    height: 30px;
    width: 150px;
    background-color: $lightGrey;
    cursor: pointer;
}
.cards{
    margin: 0px auto 50px auto;
    display: flex;
    justify-content: center;
}
.cardTranslate{
    margin-top: 50%;
    font-size: 24px;
}
.btn button{
    padding: 10px;
    border-radius: 10px;
    background-color: $lightGrey;
    border: 1px $mainColor solid;
    -webkit-border: 1px $mainColor solid;
    -moz-border: 1px $mainColor solid;
    -ms-border: 1px $mainColor solid;
    -o-border: 1px $mainColor solid;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    cursor: pointer;
}
.btn {
    margin-top: 170px;
}