
    $mainColor: #445166;
    $lightGrey: #e2e2e2;    


body{
    background-image: url(../img/bg-words.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment:fixed;
}