@import '../../assets/css/style.scss';
.loader {
    display: none;
    position: fixed;
    top: 50%;
    left: 46%;
    font-size: 2em;
    font-variant: small-caps;
    background: conic-gradient(rgb(133, 226, 226) 0 25%, #ff90f4 25% 50%, #f39f72 50% 75%, #ffde2b 75%);
    background-size: 200% 200%;
    animation: animate 4.3s ease-in-out infinite;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}
@keyframes animate {
    25% {
        background-position: 0 100%;
    }

    50% {
        background-position: 100% 100%;
    }

    75% {
        background-position: 100% 0;
    }

    100% {
        background-position: 0 0;
    }
}
