@import '../../assets/css/style.scss';
table{
    width: 100%;
    max-width: 1110px;
    margin: 50px auto;
}
td, th {
    border:  $mainColor 2px solid;
    background-color: rgba(255, 255, 255, 0.9);
}
th{
    background-color: $lightGrey;
}